<div style="height: 100%;" fxLayout="column">
  <h1 mat-dialog-title fxFlex="none">Insert Image</h1>

  <div fxLayout="row" style="padding: 20px 0;">
    <app-upload-button (uploadResult)="mediaListComponent.addMedia($event)"></app-upload-button>
    <span fxFlex="1 1 auto"></span>
    <app-search-bar (search)="mediaListComponent.searchByWord($event)"></app-search-bar>
  </div>

  <div fxFlex="grow" style="overflow-y: auto;">
    <app-media-list #mediaListComponent [selectMode]="true" [selectMultiple]="false"
                    (selectMediaEvent)="onSelectMedia($event)"></app-media-list>
  </div>

  <div fxFlex="none">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button cdkFocusInitial [mat-dialog-close]="selectMedias">Insert</button>
    </mat-dialog-actions>
  </div>
</div>



