
<div fxLayout="row" style="padding: 20px 0;margin-top: 50px;">

  <span fxFlex="1 1 auto"></span>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle style="font-size: 14px;line-height: 36px;" value="bold">待审核</mat-button-toggle>
    <mat-button-toggle value="italic">已发布</mat-button-toggle>
    <mat-button-toggle value="underline">已删除</mat-button-toggle>
  </mat-button-toggle-group>

  <div>
    <input style="border: 2px solid #fd4c5d;padding: 0 10px;height: 34px;border-right: none;border-radius: 3px 0 0 3px">
    <button
      style="height: 38px;width:70px;color: white;
      background-color: #fd4c5d;vertical-align: top;
      border: none;border-radius: 0 3px 3px 0">
      搜索
    </button>
  </div>

</div>


<div fxLayout="row wrap">

  <mat-card class="example-card" fxFlex="33.3"
            *ngFor="let temp of [1,2,3,4,5,6,7]">

    <img mat-card-image src="https://via.placeholder.com/240x160.png" alt="Photo of a Shiba Inu">

    <mat-card-title style="font-size: 20px;">
      学不会这几种搭配技巧买什么衣服都白费
    </mat-card-title>

    <mat-card-content>
      穿衣搭配绝对是一个技术活，很多女孩子虽然衣服也不少，钱也没少花但是穿出来的衣服也并没有觉得多么的好看，原来都是不会穿搭衣服所造成的啊~所以现在竟...
    </mat-card-content>
    <mat-card-actions fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>home</mat-icon>
        <span>9,345</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>comment</mat-icon>
        <span>1,000</span>
      </div>

      <div fxFlex="1 1 auto"></div>

      <div fxFlex="">
        3天前
      </div>

      <!--      <button mat-button>LIKE</button>-->
      <!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

</div>
