<!--<p>post-list works!</p>-->


<div fxLayout="row wrap">

  <mat-card class="example-card" fxFlex="33"
            *ngFor="let temp of [1,2,3,4,5,6,7]">

    <img mat-card-image src="https://via.placeholder.com/260x160.png" alt="Photo of a Shiba Inu">

    <mat-card-title style="font-size: 16px;text-align: center;">
      The Shiba Inu is the smallest of the six original
    </mat-card-title>

    <mat-card-content style="text-align: center;">
      <i>3天前</i>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>home</mat-icon>
        <span>9,345</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>comment</mat-icon>
        <span>1,000</span>
      </div>

      <!--      <button mat-button>LIKE</button>-->
      <!--      <button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card" fxFlex="33" *ngFor="let temp of [1,2,3,4,5,6,7]">
    <mat-card-content>
      <img src="https://via.placeholder.com/50x50.png" style="border-radius: 10px;"/>
      <div>
        Angular
      </div>
      <p>
        学会用 Angular 构建应用，把这些代码用在多种多种不同平台的应用上。
      </p>
    </mat-card-content>
    <button mat-icon-button style="position: absolute;
    top: 5px;
    right: 5px;">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>

  <mat-card class="example-card" fxFlex="33" *ngFor="let temp of [1,2,3,4,5,6,7]">
    <mat-card-content fxLayout="column" fxLayoutAlign="start center">

      <img src="https://via.placeholder.com/50x50.png" style="border-radius: 30px;width: 60px;height: 60px;"/>

      <h3>
        Angular
      </h3>
    </mat-card-content>
    <button mat-icon-button style="position: absolute;
    top: 5px;
    right: 5px;">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card>

</div>
