.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

.menu-divider {
  margin-left: 20px;
  margin-right: 20px;
}

.menu-icon {
  font-weight: bold;
  width: 20px !important;
  height: 20px !important;
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.5);
}

.toolbar-icon {
  margin-left: 2px;
  color: rgba(0, 0, 0, 0.5);
}

.toolbar-icon-text-button {
  border-radius: 20px;
  padding-right: 22px;
  margin: 0 15px;
}

.toolbar-icon-text-button mat-icon {
  font-size: 18px;
  height: 22px;
  width: 22px;
  margin-right: 4px;
}

.toolbar-avatar {
  margin: 0 10px;
}


.login-out-item {
  width: 100%;
}

.login-out-item mat-list-item {
  color: #ff2627;
}

.login-out-item mat-list-item mat-icon {
  color: #ff2627;
}
