<div class="media-info-bg"></div>

<div fxLayout="column" class="media-info-area">
  <div class="media-info-bar" fxFlex="none" fxLayout="row wrap" fxLayoutAlign="none center">
    <div class="media-index">
      <span>{{index + 1}}</span>
      /
      <span>{{medias.length}}</span>
    </div>
    <span fxFlex="auto"></span>
    <button mat-icon-button (click)="onEditMediaInfo()" class="action-button small-icon">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteMedia()" class="action-button small-icon">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button class="action-button small-icon" ngxClipboard
            [cbContent]="media.path" (cbOnSuccess)="snackBar.open('复制成功','', {duration: 2000})"
            (cbOnError)="snackBar.open('复制失败','', {duration: 2000})">
      <mat-icon>link</mat-icon>
    </button>
    <button mat-icon-button class="action-button small-icon"
            [mat-dialog-close]="media" cdkFocusInitial>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div fxFlex="auto" class="display-area" fxLayout="row" fxLayoutAlign="center center">
    <img src="{{media.path}}">
  </div>

  <div fxFlex="none" fxLayout="column" fxLayoutAlign="none center" class="media-info">
    <h6>
      {{media.name}}</h6>
    <span>{{media.description ? media.description : '暂无说明'}}</span>
  </div>
</div>

<button mat-icon-button class="action-button button-pre" (click)="toPre()" [disabled]="index===0">
  <mat-icon>navigate_before</mat-icon>
</button>

<button mat-icon-button class="action-button button-next" (click)="toNext()" [disabled]="index+1>=medias.length">
  <mat-icon>navigate_next</mat-icon>
</button>

