<div class="media-info-bg"></div>

<div fxLayout="column" style="height: 100%;">
  <div style="height: 40px;" fxLayout="row wrap" fxLayoutAlign="none center">
    <span>title</span>
    <span fxFlex="auto"></span>
    <button mat-icon-button style="background: rgba(30,30,30,.6);border-radius: unset;">
      <mat-icon style="color: #ccc;">link</mat-icon>
    </button>
    <button mat-icon-button style="background: rgba(30,30,30,.6);border-radius: unset;"
            [mat-dialog-close]="true" cdkFocusInitial>
      <mat-icon style="color: #ccc;">close</mat-icon>
    </button>
  </div>
  <div fxFlex="auto">
<!--      style="width: 100%;height: 100%;"-->
    <img
      src="{{media.path}}">
  </div>
  <div fxLayout="column" fxLayoutAlign="none center">
    <h2>Aerial photo of person using paddleboard</h2>
    <span>Okay, so I wanted to do my own spin on one of my favourite comic book characters... Hellboy!</span>
  </div>
</div>
<!--<div fxLayout="row">-->

<!--  <div fxFlex="75" style="padding: 50px 50px 0;margin-right: 24px;">-->
<!--&lt;!&ndash;    <img style="width: 100%;"&ndash;&gt;-->
<!--&lt;!&ndash;         src="{{media.path}}">&ndash;&gt;-->
<!--  </div>-->
<!--  <div fxFlex="25">-->
<!--    <div>-->
<!--      信息-->
<!--    </div>-->

<!--    <div>-->
<!--      <mat-form-field style=" width: 100%;">-->
<!--        <textarea matInput cdkTextareaAutosize-->
<!--                  cdkAutosizeMinRows="1"-->
<!--                  cdkAutosizeMaxRows="10"-->
<!--                  placeholder="添加说明"></textarea>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div>-->
<!--      详情-->
<!--    </div>-->

<!--    <div fxLayout="row" fxLayoutAlign="center">-->
<!--      <mat-icon fxFlexAlign="center">event</mat-icon>-->
<!--      <div fxFlex="1 1 auto">-->
<!--        <div style="color: #3c4043;word-wrap: break-word;font-size: 1rem;line-height: 1.5rem;">8月1日-->
<!--        </div>-->
<!--        <div style="color: #5f6368;font-size: 14px;">周四，下午14:33</div>-->
<!--      </div>-->

<!--      <button mat-icon-button>-->
<!--        <mat-icon>file_copy</mat-icon>-->
<!--      </button>-->
<!--    </div>-->

<!--    <div fxLayout="row" fxLayoutAlign="center">-->
<!--      <mat-icon fxFlexAlign="center">event</mat-icon>-->
<!--      <div fxFlex="1 1 auto">-->
<!--        <div style="color: #3c4043;word-wrap: break-word;font-size: 1rem;line-height: 1.5rem;">8月1日-->
<!--        </div>-->
<!--        <div style="color: #5f6368;font-size: 14px;">周四，下午14:33</div>-->
<!--      </div>-->

<!--      <button mat-icon-button>-->
<!--        <mat-icon>file_copy</mat-icon>-->
<!--      </button>-->
<!--    </div>-->


<!--    <div fxLayout="row" fxLayoutAlign="center">-->
<!--      <mat-icon fxFlexAlign="center">event</mat-icon>-->
<!--      <div fxFlex="1 1 auto" style="font-size: 14px;">-->
<!--        http://www.baidu.com-->
<!--      </div>-->

<!--      <button mat-icon-button>-->
<!--        <mat-icon>file_copy</mat-icon>-->
<!--      </button>-->
<!--    </div>-->


<!--    <button mat-stroked-button color="warn" style="width: 100%;">删除</button>-->


<!--  </div>-->


<!--  <button mat-icon-button mat-dialog-close style="position: relative;left: 20px;bottom: 20px;">-->
<!--    <mat-icon>close</mat-icon>-->
<!--  </button>-->

<!--</div>-->
