<h1 mat-dialog-title>{{getDialogTitle()}}</h1>
<mat-dialog-content>

  <div (click)="changeCover()" class="categories-cover" [ngStyle]="{'background-image': 'url(' + categories.image + ')'}">
  </div>

  <div class="categories-input-form">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="categories.name" matInput placeholder="请输入分类名称" required>
    </mat-form-field>
<!--    <mat-form-field class="example-full-width">-->
<!--      <input [(ngModel)]="categories.description" matInput placeholder="请输入分类描述">-->
<!--    </mat-form-field>-->
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-button cdkFocusInitial (click)="createTag()">确定</button>
</mat-dialog-actions>

