.fill-form-field {
  width: 100%;
}

.icon-setting {
  font-size: 16px;
  padding-top: 0px;
  padding-bottom: 8px;
}

.icon-setting span{
  margin-right: 5px;
  margin-left: 5px;
}

.icon-setting button{
  margin-left: 20px;
}

mat-radio-group{
  margin-left: 25px;
}

mat-radio-group mat-checkbox{
  margin-left: 25px;
  margin-bottom: 8px;
  margin-top: 3px;
}

mat-radio-group mat-form-field{
  margin-left: 25px;
}


.text-setting{
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}
