<div fxLayout="row" style="height:calc(100% - 64px)">

  <div fxFlex style="width: calc(100% - 300px);">

    <input style="font-size: 1.6em;border-radius: 4px;border: 1px solid #bbb;font-weight: 500;height: 50px;
          padding: 0 10px;
          margin-top: 0;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;" matInput [(ngModel)]="post.title" placeholder="Please Input Title">

    <div style="height: calc(100% - 50px);">
      <app-markdown #markdownComponent (change)="onMdChanged($event)" [options]="mdOptions"></app-markdown>
    </div>

  </div>


  <div style="width: 360px;background: azure;height: 100%;overflow-y: auto;overflow-x: hidden;" fxFlex="nogrow">
    <div>
      文章设置
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>home</mat-icon>
      <span>状态:</span>
      <b>{{post.status | postStatus}}</b>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>home</mat-icon>
      <span>权限:</span>
      <b>{{post.open | postOpen}}</b>
      <button mat-button color="primary"
              (click)="editMode.open = !editMode.open">{{editMode.open ? '收起' : '编辑'}}</button>
    </div>

    <mat-radio-group *ngIf="editMode.open" [(ngModel)]="post.open"
                     style=" display: inline-flex;flex-direction: column;">
      <mat-radio-button value="public" style="margin: 5px;">
        公开
      </mat-radio-button>
      <mat-checkbox *ngIf="post.open==='public'" [(ngModel)]="post.top">置顶该文章</mat-checkbox>
      <mat-radio-button value="protect" style="margin: 5px;">
        密码保护
      </mat-radio-button>

      <mat-form-field *ngIf="post.open==='protect'">
        <input matInput type="number" [(ngModel)]="post.password" placeholder="input password">
      </mat-form-field>

      <mat-radio-button value="private" style="margin: 5px;">
        私密
      </mat-radio-button>

    </mat-radio-group>

    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>home</mat-icon>
      <span>评论:</span>
      <b>{{post.openComment ? '允许评论' : '禁止评论'}}</b>
      <button mat-button color="primary"
              (click)="editMode.openComment=!editMode.openComment">{{editMode.openComment ? '收起' : '编辑'}}</button>
    </div>

    <mat-radio-group *ngIf="editMode.openComment" [(ngModel)]="post.openComment"
                     style=" display: inline-flex;flex-direction: column;">
      <mat-radio-button [value]="true" style="margin: 5px;">
        允许评论
      </mat-radio-button>
      <mat-checkbox *ngIf="post.openComment" [(ngModel)]="post.needReview">评论需要审核</mat-checkbox>
      <mat-radio-button [value]="false" style="margin: 5px;">
        禁止评论
      </mat-radio-button>
    </mat-radio-group>

    <mat-divider></mat-divider>

    <div>分类</div>

    <mat-radio-group style=" display: inline-flex;flex-direction: column;" [(ngModel)]="post.categories">
      <mat-radio-button [value]=c style="margin: 5px;" *ngFor="let c of categories">
        {{c ? c.name : '未分类'}}
      </mat-radio-button>
    </mat-radio-group>

    <div>
      <button mat-button color="primary">新建分类</button>
    </div>

    <div>标签</div>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of selectTags" [removable]="true"
                  (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>

        <input placeholder="Please Input Tags" #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
               [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="tagAdd($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="tagSelected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex="none">封面</div>
      <span fxFlex="grow"></span>
      <button fxFlex="none" mat-button color="primary" (click)="selectCover()">选择封面</button>
    </div>


    <img style="width: 100%;" src="{{post.cover}}">


  </div>

</div>
