<div fxLayout="row" style="height:calc(100% - 64px)">

  <div fxFlex style="width: calc(100% - 300px);">

    <input style="font-size: 1.6em;border-radius: 4px;border: 1px solid #bbb;font-weight: 500;height: 50px;
          padding: 0 10px;
          margin-top: 0;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;" matInput
           placeholder="Please Input Title">

    <div style="height: calc(100% - 50px);">
      <app-markdown></app-markdown>
    </div>

  </div>


  <div style="width: 300px;background: azure;height: 100%;overflow-y: auto;overflow-x: hidden;"
       fxFlex="nogrow">
    <div>
      POST SETTING
    </div>
    <mat-divider></mat-divider>

    <div>
      <mat-icon>home</mat-icon>
      <span>状态:</span>
      <b>草稿</b>
    </div>

    <div>
      <mat-icon>home</mat-icon>
      <span>权限:</span>
      <b>公开</b>
      <button mat-button color="primary">编辑</button>
    </div>

    <mat-radio-group style=" display: inline-flex;flex-direction: column;">
      <mat-radio-button value="1" style="margin: 5px;">
        public
      </mat-radio-button>
      <mat-checkbox>置顶该文章</mat-checkbox>
      <mat-radio-button value="2" style="margin: 5px;">
        protect
      </mat-radio-button>

      <mat-form-field>
        <input matInput placeholder="input password">
      </mat-form-field>

      <mat-radio-button value="3" style="margin: 5px;">
        private
      </mat-radio-button>

    </mat-radio-group>

    <div>
      <button mat-stroked-button color="primary">ensure</button>
      <button mat-stroked-button>cancel</button>
    </div>

    <mat-divider></mat-divider>

    <div>
      <mat-icon>home</mat-icon>
      <span>评论:</span>
      <b>草稿</b>
      <button mat-button color="primary">编辑</button>
    </div>

    <mat-radio-group style=" display: inline-flex;flex-direction: column;">
      <mat-radio-button value="1" style="margin: 5px;">
        public
      </mat-radio-button>
      <mat-radio-button value="2" style="margin: 5px;">
        pending
      </mat-radio-button>
      <mat-radio-button value="3" style="margin: 5px;">
        private
      </mat-radio-button>
    </mat-radio-group>

    <div>
      <button mat-stroked-button color="primary">ensure</button>
      <button mat-stroked-button>cancel</button>
    </div>

    <mat-divider></mat-divider>

    <div>Categories</div>

    <mat-radio-group style=" display: inline-flex;flex-direction: column;">
      <mat-radio-button value="1" style="margin: 5px;">
        public
      </mat-radio-button>
      <mat-radio-button value="2" style="margin: 5px;">
        pending
      </mat-radio-button>
      <mat-radio-button value="3" style="margin: 5px;">
        private
      </mat-radio-button>
    </mat-radio-group>

    <div>
      <button mat-button color="primary"> New Categories</button>
    </div>

    <div>Tag</div>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip
          *ngFor="let fruit of fruits"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(fruit)">
          {{fruit}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Please Input Tags"
          #fruitInput
          [formControl]="fruitCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
          {{fruit}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div>Cover</div>

    <img src="https://via.placeholder.com/240x160.png">

    <button mat-button color="primary">Select Cover</button>

  </div>

</div>
