<div>
  <div class="image-input-hidden">
    <input #image_input type="file" accept="image/*" (change)="fileChangeListener($event)"/>
  </div>

  <div>
    <button mat-button color="primary" (click)="image_input.click()">选择图片</button>
  </div>

  <div fxLayout fxLayoutAlign="none start" class="crop-area">
    <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    <div class="crop-preview">
      <p> 预览</p>
      <img
        [src]="data.image?data.image:'https://via.placeholder.com/100x100.png'"
        [width]="cropperSettings.croppedWidth"
        [height]="cropperSettings.croppedHeight"/>
    </div>
  </div>

</div>
