<div fxLayout="row" fxLayoutAlign="none center" style="padding: 20px 0;margin-top: 50px;">

  <button mat-flat-button color="primary" (click)="createTag()">
    <mat-icon>add</mat-icon>
    New Tag
  </button>

  <span fxFlex="1 1 auto"></span>

  <app-search-bar (search)="onSearch($event)"></app-search-bar>

</div>

<div fxLayout="row wrap">

  <mat-card class="example-card" fxFlex="33.3" *ngFor="let tag of tags;let index = index">
    <mat-card-content>
      <img [src]="tag.image?tag.image:'https://via.placeholder.com/50x50.png'"
           style="border-radius: 10px;width: 50px;height: 50px;"/>
      <div>
        {{tag.name}}
      </div>
      <p>
        {{tag.description}}
      </p>
    </mat-card-content>
    <button mat-icon-button style="position: absolute;
    top: 5px;
    right: 5px;" (click)="deleteTag(tag,index)">
      <mat-icon>close</mat-icon>
    </button>

    <button mat-icon-button style="position: absolute;
    top: 5px;
    right: 50px;" (click)="editTag(tag,index)">
      <mat-icon style="font-size: 20px;">edit</mat-icon>
    </button>

  </mat-card>

</div>

<app-load-more [status]="loadingStatus" (onLoadMore)="onLoadMore()"></app-load-more>
