<div fxLayout="row" fxLayoutAlign="none center" style="padding: 20px 0;margin-top: 50px;">

  <button mat-flat-button color="primary" (click)="createTag()">
    <mat-icon>add</mat-icon>
    New Tag
  </button>

  <span fxFlex="1 1 auto"></span>

  <app-search-bar></app-search-bar>

</div>

<div fxLayout="row wrap">

  <mat-card class="example-card" fxFlex="33.3">
    <mat-card-content>
      <img src="https://via.placeholder.com/50x50.png" style="border-radius: 10px;width: 50px;height: 50px;"/>
      <div>
        Angular
      </div>
      <p>
        学会用 Angular 构建应用，把这些代码用在多种多种不同平台的应用上。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="33.3" *ngFor="let tag of tags" (click)="editTag(tag)">
    <mat-card-content>
      <img src="https://via.placeholder.com/50x50.png" style="border-radius: 10px;width: 50px;height: 50px;"/>
      <div>
        Angular
      </div>
      <p>
        学会用 Angular 构建应用，把这些代码用在多种多种不同平台的应用上。
      </p>
    </mat-card-content>
    <button mat-icon-button style="position: absolute;
    top: 5px;
    right: 5px;" (click)="deleteTag(tag)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card>

</div>

<app-load-more [status]="loadingStatus" (onLoadMore)="onLoadMore()"></app-load-more>
