<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened mode="side">
    <mat-toolbar color="primary">Dashboard</mat-toolbar>
      <mat-nav-list>
        <mat-list-item *ngFor="let link of ['DASHBOARD','POSTS','COMMENTS','STATS','LAYOUT','TEMPLATE','SETTINGS']">
            <mat-icon>panorama_fish_eye</mat-icon>
          <a matLine href="#">{{ link }}</a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar >DASHBOARD</mat-toolbar>
    <h3>Basic Buttons</h3>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </div>

    <h3>Raised Buttons</h3>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
