<div fxLayout="row" style="padding: 20px 0;margin-top: 50px;">

  <span fxFlex="1 1 auto"></span>

  <mat-button-toggle-group [value]="'100'" (change)="postListComponent.changeType($event)" name="fontStyle"
                           aria-label="Font Style">
    <mat-button-toggle value="100">所有</mat-button-toggle>
    <mat-button-toggle value="1">已发布</mat-button-toggle>
    <mat-button-toggle value="0">草稿</mat-button-toggle>
    <mat-button-toggle value="-1">已删除</mat-button-toggle>
  </mat-button-toggle-group>

  <app-search-bar></app-search-bar>

</div>

<app-post-list #postListComponent></app-post-list>
