<mat-card>
  <img mat-card-image class="post-cover" [ngStyle]="{'background-image': 'url(' + post.cover + ')'}"/>
  <div>
    <div style="font-size: 20px;line-height: 32px;margin: 0;">{{post.title}}</div>
    <div style="font-size: 14px;line-height: 22px;margin: 0;color: rgba(0, 0, 0, 0.54);">{{'3天前'}}</div>
  </div>

  <div style="margin-top: 16px;margin-bottom: 8px;font-size: 14px;color: rgba(0, 0, 0, 0.54);font-weight: 400;">
    {{post.description}}
  </div>
  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div fxFlex="none">
      <button mat-button [disabled]="post.status==='deleted'" (click)="editPost()">编辑</button>
      <button mat-button [disabled]="post.status==='deleted'" (click)="previewPost()">预览</button>
    </div>

    <div fxFlex="none">
      <button mat-icon-button matTooltip="置顶" [disabled]="post.status==='deleted'" (click)="switchTop()"
              matTooltipPosition="above">
        <mat-icon>{{post.top ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
      <button mat-icon-button matTooltip="分享" [disabled]="post.status==='deleted'" (click)="sharePost()"
              matTooltipPosition="above">
        <mat-icon style="font-size: 22px;">share</mat-icon>
      </button>
      <button mat-icon-button matTooltip="更多" matTooltipPosition="above"
              [matMenuTriggerFor]="postMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-menu #postMenu="matMenu">
  <button mat-menu-item *ngIf="post.status!=='draft'" (click)="updateStatus('draft')">设为草稿</button>
  <button mat-menu-item *ngIf="post.status==='draft'" (click)="updateStatus('published')">发布</button>
  <button mat-menu-item *ngIf="post.status!=='deleted'" (click)="updateStatus('deleted')">删除</button>
  <button mat-menu-item *ngIf="post.status==='deleted'" (click)="removePost()" style="color: red;">永久删除</button>
</mat-menu>
