<div fxLayout="row wrap">

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33.33" style="background-color: bisque">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div style="display: inline;">Views</div>
      <button mat-button>
        Click me!
        <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
      </button>
    </div>

    <div style="min-height: 360px;background-color: #eeeeee;">

    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33.33" style="background-color: azure;">

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div style="display: inline;">Views</div>
      <button mat-button>
        Click me!
        <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
      </button>
    </div>

    <div style="min-height: 360px;background-color: #eeeeee;">

      <div *ngFor="let temp of [1,2,3,4,5,6,7]">
        <div fxLayout="row">
          <div>
            <div>Tue</div>
            <div>16:00</div>
          </div>

          <div>
            <mat-icon aria-label="Example icon-button with a heart icon">panorama_fish_eye</mat-icon>
          </div>

          <div fxFlex="1 1 0%">
            <div style="word-break: break-word;">Travels:Galapagos Island.Ecuador</div>
            <div style="word-break: break-word;">4 new comments</div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33" style="background-color: aquamarine;">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div style="display: inline;">Views</div>
      <button mat-button>
        Click me!
        <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
      </button>
    </div>

    <div style="min-height: 360px;background-color: #eeeeee;">
      <div *ngFor="let temp of [1]">

        <div fxLayout="row">
          <div style="width: 90px;height: 60px;">
            <img style="max-width: 100%;max-height: 100%;" src="https://via.placeholder.com/90x60.png"/>
          </div>
          <div fxFlex="1 1 0%">
            <div style="word-break: break-word;">Travels:Galapagos Island.Ecuador</div>
            <div style="word-break: break-word;">
              823 views * 97 comments
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33.33" style="background-color: bisque">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div style="display: inline;">Views</div>
      <button mat-button>
        Click me!
        <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
      </button>
    </div>

    <div style="min-height: 360px;background-color: #eeeeee;">

      <div fxLayout="row">
        <div fxFlex="33.33"></div>
        <div fxFlex="33.33"></div>
        <div fxFlex="33.33"></div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div style="display: inline;">Storage Space</div>
        <button mat-button>
          Click me!
          <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
        </button>
      </div>

      <div style="height: 50px;background-color: blue;">
        <mat-icon></mat-icon>
      </div>

      <div fxLayout="row wrap">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>image</mat-icon>
          <span>7,234 Pictures</span>
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>music_note</mat-icon>
          <span>74 Musics</span>
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>videocam</mat-icon>
          <span>123 Videos</span>
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>attachment</mat-icon>
          <span>9,345 Other Files</span>
        </div>

      </div>


    </div>

  </div>

</div>
