<div fxLayout="row wrap">

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33.33">

    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-bar">
      <h2>访问量</h2>
      <button mat-button color="primary">
        本月
        <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
      </button>
    </div>

    <div class="card-content" style="padding: 20px;">
      <canvas baseChart
              [datasets]="viewCountData"
              [labels]="viewCountLabels"
              [colors]="viewCountColors"
              [legend]="false"
              [options]="viewCountOptions"
              [chartType]="viewCountType"></canvas>
    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33.33">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-bar">
      <h2>动态</h2>
    </div>

    <div class="card-content">

      <div fxLayout="row" matRipple class="timeline" *ngFor="let temp of [1,2,3]">
        <div class="timeline-time" fxLayout="column" fxLayoutAlign="start end">
          <div>Tue</div>
          <div style="margin-top: 5px;">16:00</div>
        </div>
        <div>
          <!--          <mat-divider [vertical]="true" style="    height: 100%;-->
          <!--    position: absolute;-->
          <!--    top: 0;-->
          <!--    margin-left: 22px;-->
          <!--    border-right-color: red;"></mat-divider>-->
          <mat-icon class="timeline-icon" aria-label="Example icon-button with a heart icon">panorama_fish_eye
          </mat-icon>
        </div>

        <div fxFlex="1 1 0%">
          <div class="timeline-content">Travels:Galapagos Island.Ecuador</div>
          <div class="timeline-source">4 new comments</div>
        </div>
      </div>

    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-bar">
      <h2>热门文章</h2>
      <button mat-button color="primary" [matMenuTriggerFor]="popularPostsMenu">
        本周
        <mat-icon aria-label="Example icon-button with a heart icon">expand_more</mat-icon>
      </button>
    </div>

    <div class="card-content">
      <div fxLayout="row" class="post-item" matRipple *ngFor="let post of postList">
        <div fxFlex="none" style="width: 81px;height: 54px;background-color: rgba(0,0,0,0.1);">
          <img style="max-width: 100%;max-height: 100%;" [src]="post.cover"/>
        </div>
        <div class="post-item-content">
          <div class="post-item-title">{{post.title}}</div>
          <div class="post-item-info">
            {{post.views + ' 阅读 &nbsp;‧&nbsp; 1 评论'}}
          </div>
        </div>
      </div>

      <mat-menu #popularPostsMenu="matMenu">
        <button mat-menu-item (click)="onPostStatisticsRangChange('day')">今天</button>
        <button mat-menu-item (click)="onPostStatisticsRangChange('three day')">近三天</button>
        <button mat-menu-item (click)="onPostStatisticsRangChange('week')">本周</button>
        <button mat-menu-item (click)="onPostStatisticsRangChange('month')">本月</button>
        <button mat-menu-item (click)="onPostStatisticsRangChange('year')">本年</button>
      </mat-menu>

    </div>

  </div>

  <div fxFlex="50" fxFlex.lt-md="100" fxFlex.gt-md="33.33">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-bar">
      <h2>信息预览</h2>
    </div>

    <div class="card-content">

      <div fxLayout="row" fxLayoutGap="20px" style="padding: 0 20px 0 14px">
        <div fxFlex="33.33" class="glance-chart">
          <canvas baseChart
                  [datasets]="postCountData"
                  [labels]="postCountLabels"
                  [colors]="postCountColors"
                  [options]="glanceCountOptions"
                  [legend]="false"
                  [chartType]="postCountType"></canvas>
          <h2>246</h2>
          <span>Posts</span>
        </div>
        <div fxFlex="33.33" class="glance-chart">
          <canvas baseChart
                  [datasets]="commentCountData"
                  [labels]="commentCountLabels"
                  [options]="glanceCountOptions"
                  [colors]="commentCountColors"
                  [legend]="false"
                  [chartType]="commentCountType"></canvas>
          <h2>32</h2>
          <span>Pages</span>
        </div>
        <div fxFlex="33.33" class="glance-chart">
          <canvas baseChart
                  [datasets]="viewCountData"
                  [labels]="viewCountLabels"
                  [options]="glanceCountOptions"
                  [colors]="viewCountColors"
                  [legend]="false"
                  [chartType]="viewCountType"></canvas>
          <h2>82k</h2>
          <span>Comments</span>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="card-bar">
        <h2>存储空间</h2>
      </div>

      <div>
        <mat-progress-bar class="storage-progress" mode="determinate"
                          value="{{storageStatistics.percent}}"></mat-progress-bar>

        <div fxLayout="row wrap">
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>image</mat-icon>
            <span>{{storageStatistics.picture}} Pictures</span>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>music_note</mat-icon>
            <span>{{storageStatistics.music}} Musics</span>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>videocam</mat-icon>
            <span>{{storageStatistics.video}} Videos</span>
          </div>
          <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>attachment</mat-icon>
            <span>{{storageStatistics.other}} Other Files</span>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
