<div fxLayout="row" style="padding: 20px 0;margin-top: 50px;">

  <span fxFlex="1 1 auto"></span>

  <mat-button-toggle-group [value]="'1'" (change)="onChangeType($event)" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="1">待审核</mat-button-toggle>
    <mat-button-toggle value="0">已发布</mat-button-toggle>
    <mat-button-toggle value="-1">已删除</mat-button-toggle>
  </mat-button-toggle-group>

  <app-search-bar (search)="onSearch($event)"></app-search-bar>

</div>

<div fxLayout="row wrap">

  <div fxLayout="row" class="example-card" fxFlex="50" *ngFor="let comment of comments;let index = index">
    <div>
      <img [src]="comment.creator.img?comment.creator.img:'https://via.placeholder.com/40x40.png'"
           style="border-radius: 20px;width: 40px;height: 40px;"/>
    </div>

    <div style="border: 1px solid #d6d6d6;border-radius: 4px;width: 100%;padding: 8px;">
      <div fxLayout="row">
        <div fxLayout="row" fxLayoutAlign="center center">
          <div style="font-size: 14px;">{{comment.creator.name}}</div>
          <div style="font-size: 14px;">{{comment.createDate}}</div>
        </div>
        <div fxFlex="1 1 auto;"></div>

        <button mat-icon-button *ngIf="comment.status!==1" (click)="restoreComment(comment,index)" matTooltip="恢复"
                matTooltipPosition="above">
          <mat-icon>restore</mat-icon>
        </button>
        <button mat-icon-button *ngIf="comment.status===1" (click)="reviewComment(comment,index)" matTooltip="批准"
                matTooltipPosition="above">
          <mat-icon>done</mat-icon>
        </button>
        <button mat-icon-button (click)="removeComment(comment,index)" [matTooltip]="comment.status===-1?'永久删除':'删除'"
                matTooltipPosition="above">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <button mat-icon-button *ngIf="comment.status===0" (click)="replyComment(comment,index)" matTooltip="回复"
                matTooltipPosition="above">
          <mat-icon>reply</mat-icon>
        </button>
      </div>
      <div style="font-size: 14px;">
        {{comment.content}}
      </div>
      <div fxLayout="row">
        <div fxFlex="1 1 auto;"></div>
        <span style="font-size: 12px;">
   —— 《{{comment.post.title}}}》
</span>
      </div>
    </div>

  </div>

</div>

<app-load-more (onLoadMore)="onLoadMore()" [status]="loadingStatus"></app-load-more>
