<h1 mat-dialog-title>Select reason</h1>

<mat-radio-group class="example-radio-group" [(ngModel)]="selectReason">
  <mat-radio-button class="example-radio-button" *ngFor="let reason of reasons" [value]="reason">
    {{reason}}
  </mat-radio-button>
</mat-radio-group>

<mat-form-field style="margin-top:10px;width: 100%;" *ngIf="selectReason==='其他'">
  <input matInput placeholder="Input reason" [(ngModel)]="otherReason" required>
</mat-form-field>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="closeDialog()" color="warn">Inject</button>
</mat-dialog-actions>
