<div class="main-content">
  <div fxLayout="row wrap" class="action-bar">

    <span fxFlex="1 1 auto"></span>

    <mat-button-toggle-group class="action-bar-item" [value]="'review'" (change)="onChangeType($event)" name="fontStyle"
                             aria-label="Font Style">
      <mat-button-toggle value="review">待审核</mat-button-toggle>
      <mat-button-toggle value="published">已发布</mat-button-toggle>
      <mat-button-toggle value="deleted">已删除</mat-button-toggle>
    </mat-button-toggle-group>

    <app-search-bar class="action-bar-item" (search)="onSearch($event)"></app-search-bar>

  </div>

  <div fxLayout="row wrap">

    <div fxLayout="row" style="padding: 20px;"
         fxFlex.lt-md="100" fxFlex.md="50" fxFlex.gt-md="33.33"
         *ngFor="let comment of comments;let index = index">
      <div>
        <div class="comment-avatar" [ngStyle]="{'background-image': 'url(' + comment.creator.img + ')'}"></div>
      </div>

      <div class="comment-area" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" class="comment-title">
          <span class="comment-creator">{{comment.creator.name}}</span>
          <span class="comment-date">{{comment.createDate | relativeDate}}</span>
          <span fxFlex="1 1 auto;"></span>
          <div>
            <button mat-icon-button class="small-icon-button" *ngIf="comment.status==='deleted'"
                    (click)="restoreComment(comment,index)"
                    matTooltip="恢复"
                    matTooltipPosition="above">
              <mat-icon>restore</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button" *ngIf="comment.status==='review'" (click)="reviewComment(comment,index)"
                    matTooltip="批准"
                    matTooltipPosition="above">
              <mat-icon>done</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button" (click)="removeComment(comment,index)"
                    [matTooltip]="comment.status==='deleted'?'永久删除':'删除'"
                    matTooltipPosition="above">
              <mat-icon>delete_outline</mat-icon>
            </button>
            <button mat-icon-button class="small-icon-button" *ngIf="comment.status!=='deleted'" (click)="replyComment(comment,index)"
                    matTooltip="回复"
                    matTooltipPosition="above">
              <mat-icon>reply</mat-icon>
            </button>
          </div>
        </div>
        <div class="comment-content">
          {{comment.content}}
        </div>
        <div fxFlex="1 1 auto;"></div>
        <div fxLayout="row">
          <div fxFlex="1 1 auto;"></div>
          <span class="comment-source">—— 《{{comment.post.title}}》</span>
        </div>
      </div>

    </div>

  </div>

  <app-load-more (onLoadMore)="onLoadMore()" [status]="loadingStatus"></app-load-more>

</div>
